<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-xs-4">
            <a href="#" class="nav-map">
                <i class="fa fa-map-marker"></i>
            </a>
        </div>
        <div class="col-md-4 col-xs-4">
            <a href="#cameras" class="nav-cameras">
                <i class="fa fa-camera"></i>
            </a>
        </div>
        <div class="col-md-4 col-xs-4">
            <a href="#myphotos" class="nav-myphotos">
                <i class="fa fa-picture-o"></i>
            </a>
        </div>
    </div>
</div>